{% extends 'newspaper_app/base.html' %}
<!-- Context is "article", having information about the requested article object -->
{% block title %}Article{% endblock %}

<!-- Context for navbar -->
{% block right-link %}<a class="nav-item btn" href="{% url 'newspaper_app:login_form' %}">Login</a>{% endblock %}

<!-- Context for headings -->
{% block first-half %}Fake{% endblock %}
{% block second-half %}news{% endblock %}
{% block icon %}<i class="fas fa-grin-wink fa-lg"></i>{% endblock %}
{% block comment %}Sponsored by TrollFarm Inc.{% endblock %}

{% block content %}
{% autoescape on %}
<div class="card mt-3">
  <div class="card-body">
    <p class="badge badge-custom p-2"> 
      {{ article.category }}
    </p>
    <div class="card-title">
      <h1>
        {{article.title}}
      </h1>
    </div>
    <hr>
    <h4 class="card-subtitle mb-2 text-muted">
      By {{ article.author }} on {{ article.date|date:'D d M Y'}}
    </h4>
    <p>
    {{ article.content|safe }}
    </p>
  </div>
</div>
{% endautoescape %}
{% endblock %}
