{% extends 'newspaper_app/base.html' %}
<!-- Context is "article","likes","comments", having information about the requested article/article's like/article's comment object -->
{% block title %}Article{% endblock %}

<!-- Context for navbar -->
{% block right-link %}<a class="nav-item btn btn-dark ml-auto" href="{% url 'newspaper_app:login_form' %}">Login</a>{% endblock %}

<!-- Context for headings -->
{% block first-half %}Fake{% endblock %}
{% block second-half %}news{% endblock %}
{% block icon %}<i class="fas fa-grin-wink fa-lg"></i>{% endblock %}
{% block comment %}Sponsored by TrollFarm Inc.{% endblock %}

{% block content %}
{% autoescape on %}
<div class="card mt-3">
  <div class="card-body">
    <p class="badge badge-custom p-2"> 
    {{ article.category }}
    </p>
    <div class="card-title">
      <h1>
        {{article.title}}
      </h1>
    </div>
    <hr>
    <h4 class="card-subtitle mb-2 text-muted">
      By {{ article.author }} on {{ article.date|date:'D d M Y'}}
    </h4>
    <p>
    {{ article.content|safe }}
    </p>
  </div>
  {% if user.is_authenticated %}
    <div class="like-container">
      <i class="{% if like %}fas{% else %}far{% endif %} fa-heart" data-likeid="{{like.id}}"></i>
      {% comment %}<span>{{likes.count}} like{% if likes.count != 1%}s{% endif%}</span>{% endcomment %}
    </div>
  {% endif %}
</div>
{% endautoescape %}
<div id="comments-container"></div>

<script>
  const heart = $('.fa-heart');
  //const likecount = {{likes.count}};

  heart.click(function(e) {
      if (heart.hasClass('far')) {
          // if not liked (far) -> send post req & toggle fas & far
          const data = {"user_id": {{user.id}}, "article_id": {{article.id}}}
          $.post("/like_post/", data, function(data){
              console.log(data);
              heart.data("likeid", data.id);
              toggleClasses();
            }); 
        
        } else if (heart.hasClass('fas')) {
            // has class fas -> send delete req
            $.ajax({
                url: "/like_delete/"+ heart.data("likeid") + "/",
                type: "DELETE",
                success: function(data){
                    console.log(data)
                    toggleClasses();
                }
              });
          } 

      function toggleClasses() {
          heart.toggleClass('fas');
          heart.toggleClass('far');
    }
  })


  $('#comments-container').comments({
      readOnly: "{{user.is_authenticated}}" === "True" ? false : true,
      enable_deleting_comment_with_replies: false,
      currentUserIsAdmin: "{{user.is_staff}}" == "True" ? true : false,
      {% if profile.profile_pic.url %}
      profilePictureURL: "{{profile.profile_pic.url}}",
      {% endif %}
      postCommentOnEnter: true,
      deleteComment: function(commentJSON, success, error) {
          $.ajax({
              type: 'DELETE',
              url: '/comment_delete/' + commentJSON.id + "/",
              success: success,
              error: error
          });
      },
      putComment: function(commentJSON, success, error) {
          let putData = {};
          putData['comment_id'] = commentJSON.id;
          putData['content'] = commentJSON.content;
          
          $.ajax({
              type: 'PUT',
              url: '/comment_edit/',
              data: putData,
              success: function(comment) {
                  success(commentJSON)
                },
              error: error
            });
        },
      postComment: function(commentJSON, success, error) {
          let commentData = {
              article_id: {{article.id}},
              content: commentJSON.content,
              replyToComment: commentJSON.parent
            };

          $.post("/comment_post/", commentData, function(data) {
              commentJSON.id = data.id;
              commentJSON.profile_picture_url = data.profile_pic;
              success(commentJSON);
              console.log(commentJSON);
            }); 
        },
      getComments: function(success, error) {
          $.get("/comment_view/{{article.id}}/", function(data) {
              var commentsArray = [];
              console.log(data);
              data.forEach(function(comment) {
                  commentsArray.push({
                      id: comment.id,
                      parent: comment.replyToComment,
                      created: comment.date,
                      modified: comment.date,
                      content: comment.content,
                      fullname: "{{user.username}}" === comment.username ? "You" : comment.username, 
                      profile_picture_url: comment.profile_pic ? comment.profile_pic : null,
                      created_by_current_user: "{{user.username}}" === comment.username ? true : false,
                      creator: comment.user,
                      upvoteCount: 0,
                      pings: {},
                      user_has_upvoted: false,
                      attachments: []
                    }) 
                })
              console.log(commentsArray);
              success(commentsArray);
            });
        },
      enableUpvoting: false
    });

</script>

{% endblock %}
