{% extends 'newspaper_app/base.html' %}
<!-- Context is "Articles", having information about all article objects -->
{% block title %}Home{% endblock %}

{% block content %}

{% autoescape on %}
{% for article in Articles %}
<div class="card" style="margin:1em" data-article_id="{{article.id}}">
    <div class="card-body">
  <a href="{% url 'newspaper_app:article' article.id %}">
      <h5 class="card-title">
        {{article.title}}
      </h5>
  </a>
      <p> 
      <span class="badge badge-dark">
        {{ article.category }}
      </span>
      </p>
      <p class="card-text">
      {{ article.content|striptags|truncatewords_html:32 }}
      </p>
      <h6 class="card-subtitle mb-2 text-muted">
        By {{ article.author }} on {{ article.date|date:'D d M Y'}}
      </h6>
    </div>
</div>
{% endfor %}
{% endautoescape %}

{% endblock %}
