{% extends 'newspaper_app/base.html' %}
{% block title %}Login{% endblock %}

<!-- Context for navbar -->
{% block right-link %}<a class="nav-item btn btn-dark ml-auto" href="{% url 'newspaper_app:register_form' %}">Register</a>{% endblock %}

<!-- Context for headings -->
{% block first-half %}Log{% endblock %}
{% block second-half %}in{% endblock %}
{% block icon %}<i class="fas fa-sign-in fa-lg"></i>{% endblock %}
{% block comment %}Hodor: "Hold the door!"{% endblock %}

{% block content %}
{% autoescape on %}

<div class="row justify-content-center">
    <div class="card w-50 mt-3">
        <!-- nothing to add add here, classic django login form -->
        <div class="card-body pb-0">
                <form class="form form-override" method="POST" action="{% url 'newspaper_app:login_validation' %}">
                    {{form.as_p}}
                    <input type="submit" value="Login" class="btn btn-dark btn-submit">
                </form>
        </div>
        <div class="card-footer">
            <div class="text-muted small text-center">No account? What's that on top right corner?</div>
        </div>

    </div>
</div>

{% endautoescape %}
{% endblock %}