{% extends 'newspaper_app/base.html' %}

{% block title %}Profile{% endblock %}

<!-- Context for headings -->
{% block first-half %}Pro{% endblock %}
{% block second-half %}file{% endblock %}
{% block icon %}<i class="fas fa-flushed fa-lg"></i>{% endblock %}
{% block comment %}Smile... You're on a webcam!{% endblock %}

{% block content %}
{% autoescape on %}

<!-- Context: Profile,Prefence -->

<div class="row justify-content-center">
    <div class="card w-50 mt-3">
        <div class="card-body">

            <div class="col p-0 bg-picture rounded pt-4 pb-4">
                <div class="row justify-content-center m-0 pic-container">
                    {% if Profile.profile_pic %}
                        <img src={{Profile.profile_pic.url}} class="img-thumbnail img-custom w-50"/>
                    {% else %}
                        <img src="/images/hello-kitty.png" class="img-thumbnail img-custom w-50"/>
                    {% endif %}    
                </div>
            </div>

            <div class="row justify-content-center m-0">
                    <button  title="Update Profile" class="nav-item btn btn-dark mt-0 shadow-none mt-0 mb-4 p-0" data-toggle="modal" data-target="#inputModal">
                        <i class="fas fa-pen-square fa-3x pl-1 pr-1"></i>
                    </button>
            </div>
            
            <div class="col p-0">

                <div class="row m-0">
                    <div class="col p-0">
                        <div class="row m-0">
                            <div class="col p-0">
                                <h4 class="card-title text-right">Date of birth:&nbsp</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col p-0">
                        <h6 class="card-title dob-refresh">{{Profile.dob|date:"Y-m-d"}}</h6>
                    </div>
                </div>
                <!-- #### -->

                <div class="row m-0">
                    <div class="col p-0">
                        <div class="row m-0">
                            <div class="col p-0">
                                <h4 class="card-title text-right">Email:&nbsp</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col p-0">
                        <h6 class="card-title email-refresh">{{Profile.email}}</h6>
                    </div>
                </div>
                <!-- #### -->
                
                <div class="row m-0">
                    <div class="col p-0">
                        <div class="row m-0">
                            <div class="col p-0">
                                <h4 class="card-title text-right">Interests (<span class="span-left count-container">{{Preference.count}}</span>):&nbsp</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col p-0 pref-container">
                        {% for pref in Preference.all %}
                            <div class="row m-0">
                                <h6 class="badge badge-custom p-2">{{pref.name}}</h6>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- #### -->
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h2" id="inputModalLongTitle">Update Profile:</h5>
                <button type="button" class="close btn-clear" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-1">
                <form id="form_id" class="form-override" form enctype="multipart/form-data" action="{% url 'newspaper_app:profile_update' %}" method="post">

                    <div class="p mb-2">
                        <label>Profile Picture:</label>
                        <div class="btn btn-dark btn-submit fileUpload">Browse
                            <input id="profile_pic" type="file" name="profile_pic" class="btn upload">
                        </div>
                        <span class="upload-status small ml-2 badge badge-pill badge-custom p-2"></span>
                    </div>
                        
                    <div class="p mb-2 mt-3">
                        <label>Date of Birth (YYYY-MM-DD):</label>
                        <input id="dob" class="form-control" type="datetime" name="dob" placeholder="{{Profile.dob|date:'Y-m-d'}}"/>
                    </div>

                    <div class="p mb-2 mt-3">
                        <label>Email:</label>
                        <input id="email" class="form-control" type="email" name="email" placeholder="{{Profile.email}}"/>
                    </div>

                    <div class="p mb-2 mt-3">
                        <label>Preferred Category(s):</label>
                        <ul>
                            <li>
                                <label class="customcheck badge badge-custom p-2 mb-1">
                                    <input type="checkbox" name="pref_cate" value="1" class="checkbox"/>
                                    <span class="checkmark checkmark-fix"></span>
                                    Computers and Technology
                                </label>
                            </li>
                            <li>
                                <label class="customcheck badge badge-custom p-2 mb-1">
                                    <input type="checkbox" name="pref_cate" value="2" class="checkbox"/>
                                    <span class="checkmark checkmark-fix"></span>
                                    Finance
                                </label>
                            </li>
                            <li>
                                <label class="customcheck badge badge-custom p-2 mb-1">
                                    <input type="checkbox" name="pref_cate" value="3" class="checkbox"/>
                                    <span class="checkmark checkmark-fix"></span>
                                    Book Reviews
                                </label>
                            </li>
                        </ul>
                    </div> 
                </form>
            </div>
            <div class="modal-footer pt-0 mt-0">
                <button type="button" class="nav-item btn btn-dark mt-0 shadow-none" data-dismiss="modal">Close</button>
                <button type="button" class="nav-item btn btn-dark mt-0 shadow-none btn-profile-put" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
  </div>

{% endautoescape %}

<script>
    $(".btn-profile-put").bind("click",function() {$('#form_id').submit();}); 

    $('#form_id').on('submit', function(e) {
        e.preventDefault();

        if ($("#dob").val() == '') {
            $("#dob").val("{{Profile.dob|date:'Y-m-d'}}");
        }
        if ($("#email").val() == '') {
            $("#email").val("{{Profile.email}}");
        }

        var formData = new FormData(document.getElementById('form_id'));

        $.ajax({
            url: '/profile_update/',
            data: formData,
            type: 'POST',
            contentType: false,
            processData: false,
            success: function(response) {
                console.log(response)
                console.log(response.profile_pic)
                console.log(response.pref_cate)

                if (response.profile_pic) {
                    $(".pic-container").empty();
                    $(".pic-container").append('<img src="'+response.profile_pic+'"class="img-thumbnail img-custom w-50"/>');
                }
                $(".dob-refresh").html(response.dob);
                $(".email-refresh").html(response.email);

                var count_badges = 0;
                if (response.pref_cate && response.pref_cate.length) {
                    $(".pref-container").empty();
                    for (var i = 0; i < response.pref_cate.length; i++) {
                        if (response.pref_cate[i] == 1) {
                            $(".pref-container").append('<div class="row m-0"><h6 class="badge badge-custom p-2">Computers and Technology</h6></div>');
                            count_badges++;
                        }
                        if (response.pref_cate[i] == 2) {
                            $(".pref-container").append('<div class="row m-0"><h6 class="badge badge-custom p-2">Finance</h6></div>');
                            count_badges++;
                        }
                        if (response.pref_cate[i] == 3) {
                            $(".pref-container").append('<div class="row m-0"><h6 class="badge badge-custom p-2">Book Reviews</h6></div>');
                            count_badges++;
                        }
                    }
                }
                $(".count-container").html(count_badges);
                $('#profile_pic').val('')
                $('#form_id')[0].reset();
                $("#dob").attr("placeholder", response.dob);
                $("#email").attr("placeholder", response.email);
            },
            error: function(response) {
                console.log("ERROR")
            },
        });
    });

</script>

{% endblock %}