
root {
    font-size: 12;
}

/* ################################ GLOBAL OVERRIDES */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #646C79;
    font-family: 'Noto Sans', Arial, sans-serif;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    background: inherit;
    width:5px;
}
::-webkit-scrollbar-thumb{
    background:#FB9039; 
    border-radius: 5px;
    border: 1px solid #1F3044;
}

hr {
    height: 1px;
    background-color: #FB9039;
}

/* ################################ INDEX NAVBAR */
.container, .badge.badge-custom {
    background-color: #1F3044 !important;
}

.text-style, .card-subtitle {
    font-family: 'Bebas Neue', cursive;
    color: #646C79;
}

.nav-item.btn, .btn-submit {
    font-family: 'Bebas Neue', cursive;
    background-color: #FB9039 !important;
    color: #1F3044 !important;
    border-radius: 0px 0px 10px 10px;
}

.btn-submit {
    border-radius: 10px 10px 0px 0px !important;
}

.nav-item.btn:hover, .bg-pic-btn:hover, .btn-submit:hover {
    filter: brightness(.8);
}

/* ################################ HEADING OVERRIDES*/
.span-left {
    color: #FB9039;
}

.fas {
    color: #FB9039;
}

/* ################################ INDEX CARDS*/
.card {
    background-color: #fffafa;
}

.card-title {
    font-family: 'Bebas Neue', cursive;
    color: #1F3044 !important;
}

.badge.badge-custom {
    color: #FB9039 !important;
}

a, a:hover {
    color: inherit;
}

a:hover .card-title{
    color: #FB9039 !important;
}

/* ################################ PROFILE OVERRIDES*/
.img-custom {
    background-color: #FB9039 !important;
    border: 1px solid #1F3044 !important;
}

.bg-picture {
    background-color: #1F3044;
}

.bg-pic-btn {
    background-color: #FB9039 !important;
}

.fa-pen-square, .fa-trash {
    color: #1F3044;
}

/* ################################ LOGIN OVERRIDES*/
.form-override>p>label {
    font-family: 'Bebas Neue', cursive;
    color: #1F3044 !important;
}

.form-control:focus {
    border: solid 2px !important;
    border-color: #FB9039 !important;
    box-shadow: none !important;
}

.errorlist {
    list-style-type: none;
    color: #FB9039;
    padding: 0;
    font-size: x-small;
}

/* Article Comments */
#comments-container {
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin: 12px 0px;
}
