
root {
    font-size: 12;
}

/* ################################ GLOBAL OVERRIDES */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #646C79;
    font-family: 'Noto Sans', Arial, sans-serif;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    background: inherit;
    width:5px;
}
::-webkit-scrollbar-thumb{
    background:#FB9039; 
    border-radius: 5px;
    border: 1px solid #1F3044;
}

hr {
    height: 1px;
    background-color: #FB9039;
}

/* ################################ INDEX NAVBAR */
.container, .badge.badge-custom {
    background-color: #1F3044 !important;
}

.text-style, .card-subtitle {
    font-family: 'Bebas Neue', cursive;
    color: #646C79;
}

.nav-item.btn, .btn-submit {
    font-family: 'Bebas Neue', cursive;
    background-color: #FB9039 !important;
    color: #1F3044 !important;
    border-radius: 0px 0px 10px 10px;
}

.btn-submit {
    border-radius: 10px 10px 0px 0px !important;
}

.nav-item.btn:hover, .bg-pic-btn:hover, .btn-submit:hover, .fa-times:hover {
    filter: brightness(.8);
}

/* ################################ HEADING OVERRIDES*/
.span-left {
    color: #FB9039;
}

.fas {
    color: #FB9039;
}

/* ################################ INDEX CARDS*/
.card {
    background-color: #fffafa;
}

.card-title {
    font-family: 'Bebas Neue', cursive;
    color: #1F3044 !important;
}

.badge.badge-custom {
    color: #FB9039 !important;
}

a, a:hover {
    color: inherit;
}

a:hover .card-title{
    color: #FB9039 !important;
}

/* ################################ PROFILE OVERRIDES*/
.img-custom {
    background-color: #FB9039 !important;
    border: 1px solid #1F3044 !important;
}

.bg-picture {
    background-color: #1F3044;
}

.bg-pic-btn {
    background-color: #FB9039 !important;
}

.fa-pen-square, .fa-trash {
    color: #1F3044;
}

/* ################################ LOGIN AND REGISTER OVERRIDES*/
.form-override>p>label, .modal-title, .p>label {
    font-family: 'Bebas Neue', cursive;
    color: #1F3044 !important;
}

.form-control:focus {
    border: solid 2px !important;
    border-color: #FB9039 !important;
    box-shadow: none !important;
}

.errorlist, .helptext, .form-override ul:nth-child(-n+4) {
    list-style-type: none;
    color: #FB9039;
    padding: 0;
    font-size: x-small;
}

.helptext, .form-override ul:nth-child(-n+4) {
    color: #1F3044;
}

.form-override ul {
    padding: 0;
}

.form-override p:nth-child(2) {
    margin-bottom: 8px;
}

.form-override p:nth-child(9) {
    margin-bottom: 0;
}

.form-override ul {
    list-style-type: none;
}

/* Article Comments */
#comments-container {
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin: 12px 0px;
}

/* ################################ CHECKMARK OVERRIDES*/
.customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: small;
}

.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 8.4px;
    left: 8.4px;
    height: 12px;
    width: 12px;
    background-color: #fffafa;
    border-radius: 3px;
}

.customcheck:hover {
    filter: brightness(.8);
}

.customcheck input:checked ~ .checkmark {
    background-color: #FB9039;
    border-radius: 3px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.customcheck input:checked ~ .checkmark:after {
    display: block;
}

.customcheck .checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid #1F3044;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.customcheck .checkmark.checkmark-fix:after {
    top: 2px;
}

/* ################################ REGISTRATION PICTURE BUTTON OVERRIDES*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload.btn.btn-dark.btn-submit {
    border-radius: 0px 10px 10px 0px !important;
}

.like-container {
  padding: 0 1em 0.8em;
  color: #1F3044;
}

.like-container .fas {
  color: #FB9039;
}

.like-container i {
  font-size: 20px;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
